<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        width: 800px;
    }

    p {
        margin: 0;
    }
</style>

<body>
    <header>
        <img src="./frankleo.png" alt="logo-frankleo" width="800px" height="auto" loading="lazy">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
            <h1 style="text-transform: uppercase;">Pre-Alerta</h1>
            <ul style="list-style: none;">
                <li style="margin-bottom: 5px;">HAWB/HBL: <strong>123456</strong></li>
                <li style="margin-bottom: 5px;">Operación: <strong>SIS8876655</strong></li>
                <li style="margin-bottom: 5px;">Fecha estimada de llegada (ETA): <strong>12:00</strong></li>
            </ul>
        </div>
    </header>
    <main>
        <section style="margin-bottom: 20px;">
            <p style="margin-bottom: 10px;"> Cordiarles saludos.</p>
            <p style="margin-bottom: 10px;">Adjunto documentaciones del embarque en referencia del suplidor:
                <br>
                <strong>ALLFAVOR TECHNOLOGY (HONG KONG) LIMITED</strong>
            </p>
            <p style="margin-bottom: 30px;">FECHA ESTIMADA DE LLEGADA <strong>*SUJETO A CONFIRMACION*</strong>:
                <br>
                <strong style="color: red;">Tuesday, 23 September 2025 15:08:00</strong>
            </p>
            <p style="margin-bottom: 20px;"><strong>***POR FAVOR DE CONFIRMAR LA DESCRIPCION DE LA MERCANCIA PARA FINES
                    DE MANIFIESTO ADUANAL.***</strong></p>
            <p style="margin-bottom: 10px; text-align: justify;">Para asegurar que su consulta sea atendida por nuestro equipo de
                operaciones, por favor siempre copie a
                <a href="mailto:operaciones@frankleo.com" target="_blank" style="color: black;"> <strong
                        style="text-decoration: underline;">operaciones@frankleo.com</strong></a>
                en todos los correos electrónicos. De esta manera, podemos garantizar una respuesta oportuna a su
                solicitud.Gracias por su comprensión y paciencia.
            </p>
        </section>
        <section style="margin-bottom: 20px;">
            <p style="background-color: black; color: white; padding: 4px; margin-bottom: 10px;">DATOS DEL EMBARQUE</p>
            <div style="display: flex; justify-content: space-between; gap: 10px; margin-bottom: 10px;">
                <div style="width: 50%; display: flex; flex-direction: column; gap: 5px;">
                    <p
                        style="font-size: 13px; background-color:rgb(244, 244, 244); padding: 2px; border: 1px solid black; font-weight: bold;">
                        SUPLIDOR</p>
                    <p style="font-size: 13px;"><span>ALLFAVOR TECHNOLOGY (HONG KONG) LIMITED</span></p>
                </div>
                <div style="width: 50%; display: flex; flex-direction: column; gap: 5px;">
                    <p
                        style="font-size: 13px; background-color:rgb(244, 244, 244); padding: 2px; border: 1px solid black; font-weight: bold;">
                        CONSIGNATARIO</p>
                    <p style="font-size: 13px;"><span>FRANKLEO</span></p>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; gap: 10px; margin-bottom: 10px;">
                <div style="width: 50%; display: flex; flex-direction: column; gap: 5px;">
                    <p
                        style="font-size: 13px; background-color:rgb(244, 244, 244); padding: 2px; border: 1px solid black; font-weight: bold;">
                        BL / HAWB</p>
                    <p style="font-size: 13px;"><span>ALLFAVOR TECHNOLOGY (HONG KONG) LIMITED</span></p>
                </div>
                <div style="width: 50%; display: flex; flex-direction: column; gap: 5px;">
                    <p
                        style="font-size: 13px; background-color:rgb(244, 244, 244); padding: 2px; border: 1px solid black; font-weight: bold;">
                        HAWB/HBL</p>
                    <p style="font-size: 13px;"><span>FRANKLEO</span></p>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; gap: 10px; margin-bottom: 10px;">
                <div style="width: 50%; display: flex; flex-direction: column; gap: 5px;">
                    <p
                        style="font-size: 13px; background-color:rgb(244, 244, 244); padding: 2px; border: 1px solid black; font-weight: bold;">
                        PESO</p>
                    <p style="font-size: 13px;"><span>ALLFAVOR TECHNOLOGY (HONG KONG) LIMITED</span></p>
                </div>
                <div style="width: 50%; display: flex; flex-direction: column; gap: 5px;">
                    <p
                        style="font-size: 13px; background-color:rgb(244, 244, 244); padding: 2px; border: 1px solid black; font-weight: bold;">
                        VOLUMEN</p>
                    <p style="font-size: 13px;"><span>FRANKLEO</span></p>
                </div>
                <div style="width: 50%; display: flex; flex-direction: column; gap: 5px;">
                    <p
                        style="font-size: 13px; background-color:rgb(244, 244, 244); padding: 2px; border: 1px solid black; font-weight: bold;">
                        CARGABLE</p>
                    <p style="font-size: 13px;"><span>FRANKLEO</span></p>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; gap: 10px; margin-bottom: 10px;">
                <div style="width: 50%; display: flex; flex-direction: column; gap: 5px;">
                    <p
                        style="font-size: 13px; background-color:rgb(244, 244, 244); padding: 2px; border: 1px solid black; font-weight: bold;">
                        MERCANCÍA RECOGIDA EN</p>
                    <p style="font-size: 13px;"><span>ALLFAVOR TECHNOLOGY (HONG KONG) LIMITED</span></p>
                </div>
                <div style="width: 50%; display: flex; flex-direction: column; gap: 5px;">
                    <p
                        style="font-size: 13px; background-color:rgb(244, 244, 244); padding: 2px; border: 1px solid black; font-weight: bold;">
                        MERCANCÍA ENTREGADA EN</p>
                    <p style="font-size: 13px;"><span>FRANKLEO</span></p>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; gap: 10px; margin-bottom: 10px;">
                <div style="width: 50%; display: flex; flex-direction: column; gap: 5px;">
                    <p
                        style="font-size: 13px; background-color:rgb(244, 244, 244); padding: 2px; border: 1px solid black; font-weight: bold;">
                        CONTENEDOR</p>
                    <p style="font-size: 13px;"><span>ALLFAVOR TECHNOLOGY (HONG KONG) LIMITED</span></p>
                </div>
                <div style="width: 50%; display: flex; flex-direction: column; gap: 5px;">
                    <p
                        style="font-size: 13px; background-color:rgb(244, 244, 244); padding: 2px; border: 1px solid black; font-weight: bold;">
                        TIPO</p>
                    <p style="font-size: 13px;"><span>FRANKLEO</span></p>
                </div>
                <div style="width: 50%; display: flex; flex-direction: column; gap: 5px;">
                    <p
                        style="font-size: 13px; background-color:rgb(244, 244, 244); padding: 2px; border: 1px solid black; font-weight: bold;">
                        BULTOS</p>
                    <p style="font-size: 13px;"><span>FRANKLEO</span></p>
                </div>
            </div>
        </section>
        <footer style="margin-top: 20px; font-family: Arial, sans-serif;">
            <p style="margin: 0;">
                <em>Notificación generada automáticamente por el sistema.</em>
            </p>
            <p style="margin: 5px 0 0 0;">
                <strong>Emisor:</strong> <span style="color: #000;">Jahaziel Martinez</span><br>
                <strong>Fecha:</strong> <span style="color: #000;">29/10/2025</span>
            </p>
        </footer>
    </main>
</body>

</html>